name: Renovate Dependencies
on:
  schedule:
    - cron: "0 0 * * *"

  workflow_dispatch:
    inputs:
      dry_run:
        description: "Enable to perform a dry run"
        required: true
        default: "false"
        type: choice
        options:
          - "true"
          - "false"
      rebase_all:
        description: "Force rebase all PRs"
        required: false
        default: "false"
        type: choice
        options:
          - "true"
          - "false"
      recreate_closed:
        description: "Recreate closed PRs"
        required: false
        default: "false"
        type: choice
        options:
          - "true"
          - "false"

permissions:
  contents: write
  pull-requests: write
  issues: write


jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@c91a61c730fa166439cd3e2c300c041590002b1d # v44.0.3
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: renovate.json
        env:
          RENOVATE_DRY_RUN: ${{ github.event_name == 'schedule' && 'false' || github.event.inputs.dry_run }}
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_RECREATE_CLOSED: ${{ github.event.inputs.recreate_closed || 'false' }}
          RENOVATE_REBASE_STALE_PRS: ${{ github.event.inputs.rebase_all || 'false' }}
          RENOVATE_REQUIRE_CONFIG: 'optional'
          LOG_LEVEL: debug
